@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

h1 {
  font-family: "Roboto", sans-serif;
  margin-top: 0px;
  color: #FFF
}

body {
  background-color: #FAf9FA;
  color: #575757;
  min-width: 400px;
  font-family: sans-serif;
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
